# --- JAVA / MAVEN ---
target/
*.class
*.log

# --- DOCKER ---
# Ignora la carpeta donde MySQL guarda los datos físicos de pc Hector
db_data/

# --- IDEs ---
.idea/
.mvn/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
nbproject/
build/

# --- SEGURIDAD Y CONFIGURACIÓN ---
# credenciales de DBUtil o Docker
.env
.env.local

# --- SISTEMA ---
.DS_Store
Thumbs.db
